In [1]:
import sys
sys.path.append('./db')

In [2]:
import db_con

In [3]:
conn = db_con.get_connection()

In [4]:
def get_noteevents():
    cursor = conn.cursor()
    cursor.execute("""select * from noteevents limit 10;""")
    # sample 10 records
    top_10 = list(cursor.fetchall())
    return top_10

In [5]:
get_noteevents()[0]

(174,
 22532,
 167853,
 datetime.datetime(2151, 8, 4, 0, 0),
 None,
 None,
 'Discharge summary',
 'Report',
 None,
 None,
 'Admission Date:  [**2151-7-16**]       Discharge Date:  [**2151-8-4**]\n\n\nService:\nADDENDUM:\n\nRADIOLOGIC STUDIES:  Radiologic studies also included a chest\nCT, which confirmed cavitary lesions in the left lung apex\nconsistent with infectious process/tuberculosis.  This also\nmoderate-sized left pleural effusion.\n\nHEAD CT:  Head CT showed no intracranial hemorrhage or mass\neffect, but old infarction consistent with past medical\nhistory.\n\nABDOMINAL CT:  Abdominal CT showed lesions of\nT10 and sacrum most likely secondary to osteoporosis. These can\nbe followed by repeat imaging as an outpatient.\n\n\n\n                            [**First Name8 (NamePattern2) **] [**First Name4 (NamePattern1) 1775**] [**Last Name (NamePattern1) **], M.D.  [**MD Number(1) 1776**]\n\nDictated By:[**Hospital 1807**]\nMEDQUIST36\n\nD:  [**2151-8-5**]  12:11\nT:  [**2151-8-5**]  12:21\nJOB#:  [**Job Number 1808**]\n')

In [8]:
import alchemy_con
import pandas as pd

In [9]:
engine = alchemy_con.get_engine()

In [11]:
pd.read_sql('select * from noteevents limit 5;', engine)

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,174,22532,167853,2151-08-04,None,None,Discharge summary,Report,None,None,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527,2118-06-14,None,None,Discharge summary,Report,None,None,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118,2119-05-25,None,None,Discharge summary,Report,None,None,Admission Date: [**2119-5-4**] D...
3,177,13702,196489,2124-08-18,None,None,Discharge summary,Report,None,None,Admission Date: [**2124-7-21**] ...
4,178,26880,135453,2162-03-25,None,None,Discharge summary,Report,None,None,Admission Date: [**2162-3-3**] D...