Ref
- https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html

In [8]:
import pandas as pd

In [9]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [10]:
df1 = pd.DataFrame([{'A':'A1', 'B':'B1'}, {'A':'A2', 'B':'B2'}])
df2 = pd.DataFrame([{'A':'A3', 'B':'B3'}, {'A':'A4', 'B':'B4'}])                  
display('df1', 'df2', 'pd.concat([df1, df2])')

df1
    A   B
0  A1  B1
1  A2  B2

df2
    A   B
0  A3  B3
1  A4  B4

pd.concat([df1, df2])
    A   B
0  A1  B1
1  A2  B2
0  A3  B3
1  A4  B4