## Predicting mortality rate for patients with lung cancer surgical procedures

Reference :
- 조태호 . 모두의 딥러닝. 길벗, 2017. (both model and dataset)

In [1]:
from keras.models import Sequential
from keras.layers import Dense

import numpy as np
import pandas as pd
import tensorflow as tf

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/Users/grace/workspace/keras/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [2]:
seed = 0
np.random.seed(seed)
tf.set_random_seed(seed)

### Dataset : from Wroclaw Medical University (2013)
- total 18 columns
- first 17:
    - 종양의 유형,
    - 폐활량,
    - 호흡 곤란 여부,
    - 고통 정도,
    - 기침,
    - 흡연,
    - 천식,
    - ......
- last 18th: 생존여부

In [3]:
pd.read_csv('./dataset/ThoraricSurgery.csv', sep=',', header=None).head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [4]:
data = np.loadtxt('./dataset/ThoraricSurgery.csv', delimiter=',')
data[0]

array([293. ,   1. ,   3.8,   2.8,   0. ,   0. ,   0. ,   0. ,   0. ,
         0. ,  12. ,   0. ,   0. ,   0. ,   1. ,   0. ,  62. ,   0. ])

In [5]:
X = data[:, 0:17]

In [6]:
Y = data[:, 17]

### basic model

In [7]:
model = Sequential()
model.add(Dense(30, input_dim=17, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [8]:
# model.compile(loss='mean_squared_error', \
model.compile(loss='binary_crossentropy', \
              optimizer='adam', \
              metrics=['accuracy'])

WARNING:tensorflow:From /Users/grace/workspace/keras/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:1290: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

- 평균 제곱 계열
1. mean_squared_error : 평균 제곱 오차
2. mean_absolute_error : 평균 절대 오차
3. mean_absolute_percentage_error : 평균 절대 백분율 오차
4. mean_squared_logarithmic_error : 평균 제곱 로그 오차
- 교차 엔트로피 계열
1. categorical_crossentropy : 범주형 교차 엔트로피
2. binary_crossentropy : 이항 교차 엔트로피

In [9]:
model.fit(X, Y, epochs=30, batch_size=10)

Epoch 1/30
470/470 [==============================] - 0s - loss: 6.3035 - acc: 0.4213
Epoch 2/30
470/470 [==============================] - 0s - loss: 1.3025 - acc: 0.7957
Epoch 3/30
470/470 [==============================] - 0s - loss: 0.9830 - acc: 0.8085
Epoch 4/30
470/470 [==============================] - 0s - loss: 0.7881 - acc: 0.7957
Epoch 5/30
470/470 [==============================] - 0s - loss: 0.6612 - acc: 0.7745
Epoch 6/30
470/470 [==============================] - 0s - loss: 0.5217 - acc: 0.8191
Epoch 7/30
470/470 [==============================] - 0s - loss: 0.4822 - acc: 0.8319
Epoch 8/30
470/470 [==============================] - 0s - loss: 0.4604 - acc: 0.8447
Epoch 9/30
470/470 [==============================] - 0s - loss: 0.4651 - acc: 0.8489
Epoch 10/30
470/470 [==============================] - 0s - loss: 0.4501 - acc: 0.8426
Epoch 11/30
470/470 [==============================] - 0s - loss: 0.4339 - acc: 0.8511
Epoch 12/30
470/470 [==============================] - 0s - loss: 0.4324 - acc: 0.8511
Epoch 13/30
470/470 [==============================] - 0s - loss: 0.4363 - acc: 0.8511
Epoch 14/30
470/470 [==============================] - 0s - loss: 0.4738 - acc: 0.8383
Epoch 15/30
470/470 [==============================] - 0s - loss: 0.4300 - acc: 0.8511
Epoch 16/30
470/470 [==============================] - 0s - loss: 0.4440 - acc: 0.8489
Epoch 17/30
470/470 [==============================] - 0s - loss: 0.4487 - acc: 0.8489
Epoch 18/30
470/470 [==============================] - 0s - loss: 0.4850 - acc: 0.8511
Epoch 19/30
470/470 [==============================] - 0s - loss: 0.4560 - acc: 0.8511
Epoch 20/30
470/470 [==============================] - 0s - loss: 0.4301 - acc: 0.8511
Epoch 21/30
470/470 [==============================] - 0s - loss: 0.4220 - acc: 0.8511
Epoch 22/30
470/470 [==============================] - 0s - loss: 0.4316 - acc: 0.8489
Epoch 23/30
470/470 [==============================] - 0s - loss: 0.4353 - acc: 0.8511
Epoch 24/30
470/470 [==============================] - 0s - loss: 0.4378 - acc: 0.8468
Epoch 25/30
470/470 [==============================] - 0s - loss: 0.4300 - acc: 0.8511
Epoch 26/30
470/470 [==============================] - 0s - loss: 0.4769 - acc: 0.8383
Epoch 27/30
470/470 [==============================] - 0s - loss: 0.4513 - acc: 0.8426
Epoch 28/30
470/470 [==============================] - 0s - loss: 0.4842 - acc: 0.8277
Epoch 29/30
470/470 [==============================] - 0s - loss: 0.4395 - acc: 0.8553
Epoch 30/30
470/470 [==============================] - 0s - loss: 0.4064 - acc: 0.8426

In [10]:
print('accuracy: %.4f' % (model.evaluate(X, Y)[1]))

 32/470 [=>............................] - ETA: 0saccuracy: 0.8489