In [1]:
import zlib
import gzip
import psycopg2
import pandas as pd

## 1. Connect with mimic database

In [2]:
conn = psycopg2.connect(host='madigun.asuscomm.com', port='5432', database='mimic', user='grace', password="grace0410")
cur = conn.cursor()

## 2. Fetch required data

In [3]:
# cur.execute('''SELECT
#                       e.subject_id,
#                       e.hadm_id,
#                       marital_status,
#                       ethnicity,
#                       gender,
#                       ROUND((cast(admittime AS DATE) - cast(dob AS DATE)) / 365, 2) AS admit_age,
#                       icd9_code
#                     FROM (SELECT
#                             subject_id,
#                             hadm_id,
#                             marital_status,
#                             ethnicity,
#                             admittime
#                           FROM admissions a
#                           WHERE admission_type IN ('EMERGENCY', 'URGENT')) e
#                       LEFT JOIN patients p
#                         ON e.subject_id = p.subject_id
#                       LEFT JOIN (SELECT *
#                                  FROM diagnoses_icd
#                                  WHERE seq_num = 1
#                                        AND icd9_code IS NOT NULL) AS d
#                         ON e.hadm_id = d.hadm_id;''')
# result = cur.fetchall()

In [4]:
df = pd.read_sql('''SELECT
                          e.subject_id,
                          e.hadm_id,
                          marital_status,
                          ethnicity,
                          gender,
                          ROUND((cast(admittime AS DATE) - cast(dob AS DATE)) / 365, 2) AS admit_age,
                          icd9_code
                        FROM (SELECT
                                subject_id,
                                hadm_id,
                                marital_status,
                                ethnicity,
                                admittime
                              FROM admissions a
                              WHERE admission_type IN ('EMERGENCY', 'URGENT')) e
                          LEFT JOIN patients p
                            ON e.subject_id = p.subject_id
                          LEFT JOIN (SELECT *
                                     FROM diagnoses_icd
                                     WHERE seq_num = 1
                                           AND icd9_code IS NOT NULL) AS d
                            ON e.hadm_id = d.hadm_id;''', conn)

In [5]:
df.head()

,subject_id,hadm_id,marital_status,ethnicity,gender,admit_age,icd9_code
0,2148,123870,UNKNOWN (DEFAULT),UNKNOWN/NOT SPECIFIED,M,59.0,49121
1,2149,128303,MARRIED,UNKNOWN/NOT SPECIFIED,M,54.0,431
2,2150,189980,MARRIED,WHITE,F,71.0,2230
3,2151,153468,SINGLE,WHITE,M,45.0,3570
4,2152,127190,MARRIED,UNKNOWN/NOT SPECIFIED,M,67.0,41401

In [9]:
#  LEFT JOIN 기준이기 때문에 icd9_code가 없어도 포함될 수 있다. 따라서 추가적으로 제거한다.
df[df.icd9_code.isnull()].shape

(0, 7)

In [7]:
df = df[~df.icd9_code.isnull()]
df[df.icd9_code.isnull()].shape

In [10]:
df.icd9_code.values

array(['49121', '431', '2230', ..., '85222', '5070', '86121'],
      dtype=object)

## 3. Get embeddings

In [55]:
DIMENSION = 300

with gzip.open('./data/claims_codes_hs_300.txt.gz', 'rb') as f:
    file_content = f.read()

In [56]:
file_content = file_content.split(b'\n')
file_content = file_content[2:]

In [57]:
file_content  = list(map(lambda x: x.split(b' '), file_content))
file_content = { i[0].decode('ASCII') : i[1:DIMENSION + 1] for i in file_content}

In [64]:
for ind, row in df[:2].iterrows():
    code = row['icd9_code']
    print(code)
    print(file_content['C_'+code])

49121

KeyError: 'C_49121'

In [69]:
len(df.icd9_code.unique())

2532

In [66]:
for grp, rows in df[:100].groupby('icd9_code'):
    print(grp)
    print(rows)

0051
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
96        2081   109103       DIVORCED     OTHER      M       75.0      0051
0380
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
85        2067   104215         SINGLE     WHITE      F       51.0      0380
03811
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
77        2053   184822        MARRIED     WHITE      M       84.0     03811
03849
   subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
8        2156   157872       DIVORCED     WHITE      M       59.0     03849
0388
    subject_id  hadm_id marital_status              ethnicity gender  \
29        2044   168888       DIVORCED  UNKNOWN/NOT SPECIFIED      F

    admit_age icd9_code
29       80.0      0388
0389
    subject_id  hadm_id marital_status              ethnicity gender  \
12        2165   140032        MARRIED                  WHITE      M
28        2187   115520         SINGLE                  WHITE      M
62        1982   133155       DIVORCED                  WHITE      M
63        1982   141198       DIVORCED                  WHITE      M
76        2052   118182        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
12       75.0      0389
28       46.0      0389
62       59.0      0389
63       60.0      0389
76       61.0      0389
042
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
61        1981   172886         SINGLE     WHITE      M       41.0       042
0499
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
79        2056   157668        MARRIED     WHITE      F       72.0      0499
1570
    subject_id  hadm_id marital_status               ethnicity gender  \
26        2186   103057        WIDOWED  BLACK/AFRICAN AMERICAN      F

    admit_age icd9_code
26       72.0      1570
1578
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
89        2074   160999        MARRIED     WHITE      F       56.0      1578
1622
    subject_id  hadm_id marital_status              ethnicity gender  \
80        2057   126559         SINGLE  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
80       50.0      1622
1800
    subject_id  hadm_id marital_status               ethnicity gender  \
83        2064   169156        MARRIED  BLACK/AFRICAN AMERICAN      F

    admit_age icd9_code
83       44.0      1800
1972
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
91        2076   178419        MARRIED     WHITE      M       64.0      1972
2127
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
74        2050   158037       DIVORCED     WHITE      M       42.0      2127
2230
   subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
2        2150   189980        MARRIED     WHITE      F       71.0      2230
2270
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
58        1900   162718        MARRIED     WHITE      M       56.0      2270
25013
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
30        2045   162865         SINGLE     WHITE      F       26.0     25013
25053
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
54        1900   100114        MARRIED     WHITE      M       50.0     25053
33392
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
34        2048   187721         SINGLE     WHITE      F       54.0     33392
3570
   subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
3        2151   153468         SINGLE     WHITE      M       45.0      3570
3970
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
99        2082   183349        MARRIED     WHITE      F       56.0      3970
40201
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
48        1893   184538        WIDOWED     WHITE      F       86.0     40201
40300
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
32        2045   195707         SINGLE     WHITE      F       30.0     40300
40301
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
55        1900   116403        MARRIED     WHITE      M       48.0     40301
41011
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
33        2047   106604        MARRIED     WHITE      M       68.0     41011
41031
    subject_id  hadm_id marital_status              ethnicity gender  \
13        2166   161124        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
13       38.0     41031
41071
    subject_id  hadm_id marital_status              ethnicity gender  \
14        2167   150987        MARRIED  UNKNOWN/NOT SPECIFIED      M
67        1985   138520        WIDOWED                  WHITE      F
84        2066   186403        WIDOWED                  WHITE      F
87        2071   197005        MARRIED                  WHITE      M

    admit_age icd9_code
14       82.0     41071
67       75.0     41071
84       64.0     41071
87       78.0     41071
41401
    subject_id  hadm_id marital_status              ethnicity gender  \
4         2152   127190        MARRIED  UNKNOWN/NOT SPECIFIED      M
41        1804   114002        WIDOWED                  WHITE      M
65        1985   117366        WIDOWED                  WHITE      F
78        2054   106500        MARRIED                  WHITE      M

    admit_age icd9_code
4        67.0     41401
41       75.0     41401
65       77.0     41401
78       58.0     41401
41519
    subject_id  hadm_id marital_status              ethnicity gender  \
43        1807   177797        WIDOWED  UNKNOWN/NOT SPECIFIED      F
49        1895   100751        WIDOWED                  WHITE      M
64        1984   188517         SINGLE                  WHITE      M

    admit_age icd9_code
43       74.0     41519
49       78.0     41519
64       50.0     41519
4168
    subject_id  hadm_id marital_status               ethnicity gender  \
16        2171   138417        WIDOWED  BLACK/AFRICAN AMERICAN      F

    admit_age icd9_code
16       73.0      4168
4239
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
21        2180   157981           None     WHITE      M       80.0      4239
4240
    subject_id  hadm_id marital_status              ethnicity gender  \
47        1813   168923         SINGLE  UNKNOWN/NOT SPECIFIED      F

    admit_age icd9_code
47       79.0      4240
4241
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
44        1809   103739        MARRIED     WHITE      M       52.0      4241
4254
   subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
5        2153   136687        MARRIED     WHITE      M       44.0      4254
4260
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
82        2063   196657        WIDOWED     WHITE      F       86.0      4260
4280
    subject_id  hadm_id marital_status               ethnicity gender  \
9         2157   129039        MARRIED                   OTHER      M
20        2179   152557        WIDOWED  BLACK/AFRICAN AMERICAN      F

    admit_age icd9_code
9        73.0      4280
20       87.0      4280
42833
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
57        1900   123032        MARRIED     WHITE      M       58.0     42833
430
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
37        1800   140939        MARRIED     WHITE      F       68.0       430
431
   subject_id  hadm_id marital_status              ethnicity gender  \
1        2149   128303        MARRIED  UNKNOWN/NOT SPECIFIED      M

   admit_age icd9_code
1       54.0       431
43311
    subject_id  hadm_id marital_status              ethnicity gender  \
46        1811   150231        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
46      300.0     43311
43411
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
92        2078   141694       DIVORCED     WHITE      M       79.0     43411
44023
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
81        2061   174783        MARRIED     WHITE      M       83.0     44023
44024
    subject_id  hadm_id marital_status              ethnicity gender  \
11        2165   107361        MARRIED                  WHITE      M
60        1979   151380        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
11       69.0     44024
60       81.0     44024
44101
    subject_id  hadm_id marital_status           ethnicity gender  admit_age  \
69        1986   198752         SINGLE  HISPANIC OR LATINO      M       26.0

   icd9_code
69     44101
4412
    subject_id  hadm_id marital_status           ethnicity gender  admit_age  \
68        1986   160127         SINGLE  HISPANIC OR LATINO      M       30.0

   icd9_code
68      4412
481
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
15        2170   158069         SINGLE     WHITE      M       51.0       481
4820
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
36        1799   173104         SINGLE     WHITE      M       51.0      4820
485
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
66        1985   135108        WIDOWED     WHITE      F       81.0       485
49121
    subject_id  hadm_id     marital_status              ethnicity gender  \
0         2148   123870  UNKNOWN (DEFAULT)  UNKNOWN/NOT SPECIFIED      M
39        1802   188057           DIVORCED                  WHITE      M

    admit_age icd9_code
0        59.0     49121
39       70.0     49121
49391
    subject_id  hadm_id marital_status               ethnicity gender  \
40        1803   141573         SINGLE  BLACK/AFRICAN AMERICAN      F

    admit_age icd9_code
40       39.0     49391
5109
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
59        1901   171358        MARRIED     WHITE      M       82.0      5109
515
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
17        2172   181252         SINGLE     WHITE      M       34.0       515
51881
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
27        2187   106962         SINGLE     WHITE      M       41.0     51881
38        1802   111237       DIVORCED     WHITE      M       70.0     51881
97        2081   188412       DIVORCED     OTHER      M       77.0     51881
5272
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
98        2081   191012       DIVORCED     OTHER      M       76.0      5272
5307
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
56        1900   119229        MARRIED     WHITE      M       54.0      5307
53220
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
42        1804   157298        WIDOWED     WHITE      M       75.0     53220
53440
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
71        2049   115372         SINGLE     WHITE      F       68.0     53440
53784
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
75        2051   184088         SINGLE     WHITE      M       49.0     53784
5570
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
72        2049   137603        WIDOWED     WHITE      F       65.0      5570
56941
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
50        1898   156176        MARRIED     WHITE      F       76.0     56941
56969
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
73        2049   186047        WIDOWED     WHITE      F       63.0     56969
56985
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
51        1899   153647        MARRIED     WHITE      F       55.0     56985
53        1899   189620        MARRIED     WHITE      F       55.0     56985
57451
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
94        2079   126184        MARRIED     WHITE      F       45.0     57451
5762
    subject_id  hadm_id marital_status               ethnicity gender  \
70        1987   105158         SINGLE  BLACK/AFRICAN AMERICAN      M

    admit_age icd9_code
70       45.0      5762
5789
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
52        1899   176830        MARRIED     WHITE      F       56.0      5789
67323
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
86        2070   127940        MARRIED     WHITE      F       35.0     67323
78009
    subject_id  hadm_id marital_status           ethnicity gender  admit_age  \
88        2072   160953      SEPARATED  HISPANIC OR LATINO      M       27.0

   icd9_code
88     78009
78039
    subject_id  hadm_id marital_status              ethnicity gender  \
23        2184   171742       DIVORCED                  WHITE      M
45        1811   149897        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
23       42.0     78039
45      302.0     78039
78097
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
93        2078   179014       DIVORCED     WHITE      M       80.0     78097
80012
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
10        2158   123815        MARRIED     WHITE      M       37.0     80012
82111
   subject_id  hadm_id marital_status              ethnicity gender  \
7        2155   192095        MARRIED  UNKNOWN/NOT SPECIFIED      M

   admit_age icd9_code
7       71.0     82111
85185
    subject_id  hadm_id marital_status              ethnicity gender  \
95        2080   169193         SINGLE  UNKNOWN/NOT SPECIFIED      F

    admit_age icd9_code
95       22.0     85185
8602
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
18        2176   145484        MARRIED     WHITE      M       45.0      8602
96509
   subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
6        2154   100483         SINGLE     WHITE      F       32.0     96509
9651
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
22        2183   129803         SINGLE     WHITE      F       22.0      9651
9654
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
19        2177   100402         SINGLE     WHITE      F       22.0      9654
986
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
90        2075   177813        MARRIED     WHITE      M       60.0       986
99662
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
31        2045   174095         SINGLE     WHITE      F       30.0     99662
9973
    subject_id  hadm_id marital_status              ethnicity gender  \
25        2185   199576        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
25       78.0      9973
99859
    subject_id  hadm_id marital_status              ethnicity gender  \
24        2185   168758        MARRIED  UNKNOWN/NOT SPECIFIED      M

    admit_age icd9_code
24       78.0     99859
9986
    subject_id  hadm_id marital_status ethnicity gender  admit_age icd9_code
35        2049   107945        WIDOWED     WHITE      F       62.0      9986